@charset "UTF-8";
.page-wrap.portfolio .page-title {
  background-image: url("/images/portfolio/img_portfolio_slide.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.page-wrap.portfolio .page-title .content-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrap.portfolio .section {
  padding: 77px 0;
}
.page-wrap.portfolio .section .title h1 {
  font-size: 40px;
  font-weight: 900;
  color: #1d384d;
}
.page-wrap.portfolio .section .summary {
  margin-top: 70px;
}
.page-wrap.portfolio .section .summary ul {
  padding-left: 20px;
  font-size: 22px;
  line-height: 2.18;
}
.page-wrap.portfolio .section.diagram {
  background-color: #eeeeee;
}
.page-wrap.portfolio .section.spec .specs {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
}
.page-wrap.portfolio .section.spec .specs .spec-item {
  width: 50%;
  margin-bottom: 75px;
}
.page-wrap.portfolio .section.spec .specs .spec-item .item-title {
  color: #00bce7;
  font-size: 18px;
  margin-bottom: 25px;
}
.page-wrap.portfolio .section.spec .specs .spec-item .item-content .row {
  display: flex;
  font-size: 18px;
  line-height: 2;
}
.page-wrap.portfolio .section.spec .specs .spec-item .item-content .row .name {
  flex: 0 0 120px;
}
.page-wrap.portfolio .section.spec .specs .spec-item .item-content .row ul.content {
  margin-top: 0;
  padding-left: 24px;
}
.page-wrap.portfolio .section.spec .specs .spec-item .item-content .row .content {
  flex: 1;
  position: relative;
  padding-left: 10px;
}
.page-wrap.portfolio .section.spec .specs .spec-item .item-content .row .content:before {
  content: ":";
  position: absolute;
  left: 0;
}
@media (max-width: 1100px) {
  .page-wrap.portfolio .section .content-wrap {
    padding: 0 30px;
  }
  .page-wrap.portfolio .section .summary {
    word-break: keep-all;
  }
  .page-wrap.portfolio .section.diagram .content-wrap {
    padding: 0 15px;
  }
}
@media (max-width: 1000px) {
  .page-wrap.portfolio .section .content-wrap {
    padding: 0 30px;
  }
  .page-wrap.portfolio .section .summary {
    word-break: keep-all;
  }
  .page-wrap.portfolio .section.diagram .content-wrap {
    padding: 0 15px;
  }
  .page-wrap.portfolio .section.spec .specs {
    display: block;
  }
  .page-wrap.portfolio .section.spec .specs .spec-item {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .page-wrap.portfolio .for-pc {
    display: none;
  }
  .page-wrap.portfolio .for-mobile {
    display: block;
  }
  .page-wrap.portfolio .diagram .diagram-box {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px 20px;
  }
  .page-wrap.portfolio .diagram .diagram-box .text-content {
    width: 360px;
    margin: 0 auto;
  }
  .page-wrap.portfolio .diagram .diagram-box .text-content .title {
    font-weight: 700;
    color: #00bce7;
    font-size: 20px;
  }
  .page-wrap.portfolio .diagram .diagram-box .text-content .content ul {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFklEQVQYV2NkwAIYcQn+R5fAqRLDBAA8aQEFEuiyCAAAAABJRU5ErkJggg==);
    padding-left: 12px;
  }
  .page-wrap.portfolio .diagram .diagram-box .text-content .content ul li {
    font-size: 14px;
    line-height: 1.8;
  }
  .page-wrap.portfolio .diagram .image-content {
    max-width: 500px;
    margin: 0 auto;
  }
  .page-wrap.portfolio .diagram .image-content.limit-width {
    width: 130px;
    margin-bottom: 20px;
  }
  .page-wrap.portfolio .device-test .diagram .image-content.overlap-image {
    margin-top: -120px;
  }
  .page-wrap.portfolio .remote-device .diagram .diagram-box .text-content {
    margin-bottom: 40px;
  }
  .page-wrap.portfolio .sensor-data .diagram .diagram-box .text-content {
    margin-top: 40px;
  }
  .page-wrap.portfolio .sensor-data .diagram .image-content object {
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
  .page-wrap.portfolio .water-monitoring .diagram .diagram-box .text-content {
    margin-top: 40px;
  }
  .page-wrap.portfolio .water-monitoring .diagram .image-content object {
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
  .page-wrap.portfolio .multiport-s2e .diagram .diagram-box .text-content {
    margin-top: 40px;
  }
  .page-wrap.portfolio .multiport-s2e .diagram .image-content object {
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 750px) {
  .page-wrap.portfolio .section {
    padding: 55px 0;
  }
}
@media (max-width: 500px) {
  .page-wrap.portfolio .section .title {
    overflow-x: hidden;
  }
  .page-wrap.portfolio .section .title h1 {
    font-size: 30px;
    white-space: nowrap;
  }
  .page-wrap.portfolio .section .summary {
    margin-top: 15px;
  }
  .page-wrap.portfolio .section .summary ul {
    font-size: 18px;
    line-height: 1.56;
  }
  .page-wrap.portfolio .section .summary ul li {
    margin-top: 1em;
  }
  .page-wrap.portfolio .section .summary ul li:first-child {
    margin-top: 0;
  }
  .page-wrap.portfolio .section.spec .specs {
    margin-top: 20px;
  }
  .page-wrap.portfolio .section.spec .specs .spec-item {
    margin-bottom: 50px;
  }
  .page-wrap.portfolio .section.spec .specs .spec-item .item-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .page-wrap.portfolio .section.spec .specs .spec-item .item-content .row {
    font-size: 14px;
  }
  .page-wrap.portfolio .section.spec .specs .spec-item .item-content .row .name {
    flex: 0 0 90px;
  }
  .page-wrap.portfolio .diagram .diagram-box .text-content {
    width: auto;
  }
  .page-wrap.portfolio .device-test .diagram .diagram-box .text-content {
    width: auto;
  }
  .page-wrap.portfolio .device-test .diagram .image-content.overlap-image {
    margin-top: -23vw;
  }
}
