@charset "utf-8";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "NanumSquare";
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
*:focus-visible {
  outline: none;
}
.content-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.for-mobile {
  display: none;
}
.header {
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /* .content-wrap */
}
.header .content-wrap {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  /* .gnb */
}
.header .content-wrap .gnb > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header .content-wrap .gnb > ul > li {
  margin-left: 40px;
}
.header .content-wrap .gnb > ul > li a {
  color: #888888;
  text-decoration: none;
  display: block;
  line-height: 60px;
}
.header .content-wrap .gnb > ul > li:hover .lnb {
  height: 60px;
  box-shadow: 0 2px 3px #dddddd;
}
.header .content-wrap .gnb > ul > li .lnb {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.9);
}
.header .content-wrap .gnb > ul > li .lnb ul {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding-right: 150px;
}
.header .content-wrap .gnb > ul > li .lnb ul li {
  margin-left: 40px;
}
.header .content-wrap .drawer-trigger {
  display: none;
}
/* .header */
.body {
  margin-top: 60px;
  min-height: calc(100vh - 60px - 150px);
}
.body .page-wrap {
  /* &.index */
}
.body .page-wrap .slide {
  height: 350px;
  text-align: center;
  box-sizing: border-box;
}
.body .page-wrap .slide h1 {
  color: #00bce7;
  font-size: 50px;
  font-weight: 900;
}
.body .page-wrap .slide p {
  color: #1d384d;
  font-size: 32px;
  margin-top: 15px;
}
.body .page-wrap .slide p strong {
  font-weight: 900;
}
.body .page-wrap .page-title {
  height: 350px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.body .page-wrap .page-title h1 {
  color: #00bce7;
  font-size: 50px;
  font-weight: 900;
}
.body .page-wrap .page-title p {
  color: #ffffff;
  font-size: 32px;
  margin-top: 15px;
}
.body .page-wrap .page-title p strong {
  font-weight: 900;
}
.body .page-wrap.index .slide {
  height: 600px;
  background-image: url("/images/index/img_slide_bg.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1380px auto;
}
.body .page-wrap.index .slide .content-wrap {
  text-align: center;
  padding-top: 82px;
}
.body .page-wrap.index .slide .content-wrap img {
  max-width: 80%;
}
.body .page-wrap.index .slide .content-wrap p {
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-bottom: 25px;
}
.body .page-wrap.index .slide .content-wrap p strong {
  font-weight: 700;
}
.body .page-wrap.index .slide .content-wrap p span {
  font-weight: 100;
}
.body .page-wrap.index .section {
  text-align: center;
  padding: 80px 0;
  /* &.about */
  /* &.product */
  /* &.service */
  /* &.portfolio */
  /* &.contact */
}
.body .page-wrap.index .section .title h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  color: #1d384d;
}
.body .page-wrap.index .section .title h1 strong {
  font-weight: 900;
}
.body .page-wrap.index .section .summary {
  font-size: 22px;
  font-weight: 400;
  margin: 67px 0 26px 0;
}
.body .page-wrap.index .section .summary strong {
  font-weight: 900;
}
.body .page-wrap.index .section.about {
  color: #ffffff;
  background-color: #00bce7;
}
.body .page-wrap.index .section.about .title h1 {
  color: #ffffff;
}
.body .page-wrap.index .section.about .summary {
  font-size: 24px;
  color: #ffffff;
}
.body .page-wrap.index .section.about .logo img {
  max-width: 90%;
}
.body .page-wrap.index .section.about .desc p {
  margin: 0;
  font-size: 18px;
  line-height: 1.78;
}
.body .page-wrap.index .section.product {
  background-color: #eeeeee;
}
.body .page-wrap.index .section.product .products {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.body .page-wrap.index .section.product .products .product-item {
  cursor: pointer;
  flex: 0 1 calc(50% - 20px);
}
.body .page-wrap.index .section.product .products .icon {
  overflow: hidden;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.body .page-wrap.index .section.product .products .icon img {
  max-width: 86%;
}
.body .page-wrap.index .section.product .products .icon .icon-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(29, 56, 77, 0.7);
  opacity: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.6;
  color: #ffffff;
}
.body .page-wrap.index .section.product .products .icon:hover .icon-screen {
  opacity: 1;
}
.body .page-wrap.index .section.product .products .texts {
  margin-top: 28px;
}
.body .page-wrap.index .section.product .products .texts .item-title {
  font-size: 22px;
  color: #00bce7;
  font-weight: 900;
}
.body .page-wrap.index .section.product .products .texts .item-desc {
  margin-top: 25px;
  font-size: 14px;
  text-shadow: 0 0 1px #cccccc;
  line-height: 1.71;
}
.body .page-wrap.index .section.service {
  /* .services */
}
.body .page-wrap.index .section.service .services {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.body .page-wrap.index .section.service .services .icon {
  height: 150px;
}
.body .page-wrap.index .section.service .services .texts .item-title {
  font-size: 18px;
  font-weight: 900;
}
.body .page-wrap.index .section.service .services .texts .item-desc {
  margin-top: 20px;
  font-size: 14px;
  text-shadow: 0 0 1px #cccccc;
  line-height: 1.71;
}
.body .page-wrap.index .section.service .solutions {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.body .page-wrap.index .section.service .solutions .solution-item {
  cursor: pointer;
  flex: 0 1 calc(50% - 20px);
}
.body .page-wrap.index .section.service .solutions .icon {
  overflow: hidden;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00bce7;
  border-radius: 10px;
  position: relative;
}
.body .page-wrap.index .section.service .solutions .icon img {
  max-width: 90%;
}
.body .page-wrap.index .section.service .solutions .icon .icon-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(29, 56, 77, 0.7);
  opacity: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.6;
  color: #ffffff;
}
.body .page-wrap.index .section.service .solutions .icon:hover .icon-screen {
  opacity: 1;
}
.body .page-wrap.index .section.service .solutions .texts {
  margin-top: 28px;
}
.body .page-wrap.index .section.service .solutions .texts .item-title {
  font-size: 22px;
  color: #00bce7;
  font-weight: 900;
}
.body .page-wrap.index .section.service .solutions .texts .item-desc {
  margin-top: 25px;
  font-size: 14px;
  text-shadow: 0 0 1px #cccccc;
  line-height: 1.71;
}
.body .page-wrap.index .section.portfolio {
  background-color: #eeeeee;
}
.body .page-wrap.index .section.portfolio .portfolios {
  display: flex;
  justify-content: space-between;
}
.body .page-wrap.index .section.portfolio .portfolios .portfolio-item {
  flex: 0 1 calc((100% - 100px) / 5);
  position: relative;
}
.body .page-wrap.index .section.portfolio .portfolios .portfolio-item .item-thumb {
  padding-top: 100%;
  background-size: 90% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.body .page-wrap.index .section.portfolio .portfolios .portfolio-item .texts {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(29, 56, 77, 0.7);
  color: #ffffff;
  opacity: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .page-wrap.index .section.portfolio .portfolios .portfolio-item .texts .item-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.6;
}
.body .page-wrap.index .section.portfolio .portfolios .portfolio-item:hover .texts {
  opacity: 1;
}
.body .page-wrap.index .section.contact .texts {
  margin: 45px 0;
}
.body .page-wrap.index .section.contact .texts p {
  font-size: 18px;
  line-height: 1.67;
}
.body .page-wrap.index .section.contact .map {
  height: 310px;
  align-items: center;
}
.body .page-wrap.index .section.contact .map div {
  z-index: 1 !important;
}
.body .page-wrap.index .section.contact .contact-info {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}
.body .page-wrap.index .section.contact .contact-info .contact-item {
  flex: 0 1 33.3333%;
}
.body .page-wrap.index .section.contact .contact-info .contact-item.address .icon {
  background-image: url("/images/index/icon_address.svg");
}
.body .page-wrap.index .section.contact .contact-info .contact-item.customer_center .icon {
  background-image: url("/images/index/icon_customer_center.svg");
}
.body .page-wrap.index .section.contact .contact-info .contact-item.email .icon {
  background-image: url("/images/index/icon_email.svg");
}
.body .page-wrap.index .section.contact .contact-info .contact-item .icon {
  height: 31px;
  background-position: center;
  background-repeat: no-repeat;
}
.body .page-wrap.index .section.contact .contact-info .contact-item .item-title {
  margin-top: 16px;
  font-size: 18px;
  color: #00bce7;
}
.body .page-wrap.index .section.contact .contact-info .contact-item .item-desc {
  margin-top: 27px;
  font-size: 14px;
  text-shadow: 0 0 1px #cccccc;
}
/* .body */
.footer {
  background-color: #444444;
}
.footer.index {
  background-color: #eeeeee;
}
.footer .content-wrap {
  display: flex;
  align-items: center;
  height: 150px;
}
.footer .content-wrap .logo {
  flex: 0 0 200px;
}
.footer .content-wrap .copyright {
  flex: 1;
}
.footer .content-wrap .copyright p {
  text-align: center;
  color: #888888;
  font-size: 18px;
}
.footer .content-wrap .sns-links {
  flex: 0 0 200px;
  display: flex;
  justify-content: flex-end;
}
.footer .content-wrap .sns-links a {
  display: block;
  margin-left: 20px;
}
/* .footer */
@media (max-width: 1100px) {
  .header .content-wrap {
    padding: 0 30px;
  }
  .body .page-wrap.index .slide {
    height: 75vw;
    background-size: 180vw;
    background-position: top center;
  }
  .body .page-wrap.index .slide .content-wrap {
    padding-top: 8.3vw;
  }
  .body .page-wrap.index .slide .content-wrap p {
    margin-bottom: 15vw;
  }
  .body .page-wrap.index .section.product .content-wrap {
    padding: 0 30px;
  }
  .body .page-wrap.index .section.service .content-wrap {
    padding: 0 30px;
  }
}
@media (max-width: 950px) {
  .body .page-wrap.index .for-pc {
    display: none;
  }
  .body .page-wrap.index .section.about .content-wrap {
    padding: 0 30px;
  }
  .body .page-wrap.index .section.about .content-wrap .summary {
    line-height: 1.4;
  }
  .body .page-wrap.index .section.about .content-wrap .summary .for-mobile {
    display: block;
  }
  .body .page-wrap.index .section.about .content-wrap .desc p {
    word-break: keep-all;
  }
  .body .page-wrap.index .section.about .content-wrap .desc p br {
    display: none;
  }
  .body .page-wrap.index .section.about .content-wrap .desc p .for-mobile {
    display: block;
  }
  .body .page-wrap.index .section.portfolio .content-wrap {
    padding: 0 30px;
  }
  .body .page-wrap.index .section.portfolio .portfolios {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .body .page-wrap.index .section.portfolio .portfolios .portfolio-item {
    flex: 0 0 calc((100% - 18px) / 3);
    margin-bottom: 9px;
    margin-right: 9px;
  }
  .body .page-wrap.index .section.portfolio .portfolios .portfolio-item:nth-child(3n) {
    margin-right: 0;
  }
  .body .page-wrap.index .section.contact .title,
  .body .page-wrap.index .section.contact .summary,
  .body .page-wrap.index .section.contact .texts {
    padding-left: 30px;
    padding-right: 30px;
  }
  .body .page-wrap.index .section.contact .contact-info {
    display: block;
  }
  .body .page-wrap.index .section.contact .contact-info .contact-item {
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .body .page-wrap.index .section.service .services {
    flex-wrap: wrap;
  }
  .body .page-wrap.index .section.service .services .service-item {
    width: 50%;
  }
  .body .page-wrap.index .section.service .services .service-item:nth-child(1),
  .body .page-wrap.index .section.service .services .service-item:nth-child(2) {
    margin-bottom: 30px;
  }
  .body .page-wrap.index .section.service .services .service-item .icon {
    height: 100px;
  }
  .body .page-wrap.index .section.service .solutions .texts .item-desc br {
    display: none;
  }
  .footer .content-wrap {
    position: relative;
    justify-content: space-between;
    padding: 40px 30px;
    box-sizing: border-box;
    align-items: flex-start;
  }
  .footer .content-wrap .logo {
    flex: 1;
  }
  .footer .content-wrap .sns-links {
    flex: 1;
  }
  .footer .content-wrap .copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
  }
  .footer .content-wrap .copyright p {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .header .content-wrap .gnb {
    position: fixed;
    width: 0;
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.2s;
    z-index: 1000;
  }
  .header .content-wrap .gnb.active {
    width: 100%;
  }
  .header .content-wrap .gnb.active > ul {
    opacity: 1;
  }
  .header .content-wrap .gnb > ul {
    padding-top: 40px;
    width: 250px;
    height: 100%;
    display: block;
    margin: 0 0 0 auto;
    background-color: #1d384d;
    box-shadow: -1px 0 3px #000000;
    opacity: 0;
    transition: 0.2s;
  }
  .header .content-wrap .gnb > ul > li {
    margin-top: 10px;
  }
  .header .content-wrap .gnb > ul > li:first-child {
    margin-top: 0;
  }
  .header .content-wrap .gnb > ul > li a {
    color: #dddddd;
    line-height: 40px;
  }
  .header .content-wrap .gnb > ul > li:hover .lnb {
    height: auto;
    box-shadow: none;
  }
  .header .content-wrap .gnb > ul > li .lnb {
    position: static;
    height: auto;
    background-color: transparent;
  }
  .header .content-wrap .gnb > ul > li .lnb ul {
    padding-right: 0;
    display: block;
    height: auto;
  }
  .header .content-wrap .gnb > ul > li .lnb ul li a {
    line-height: 40px;
    text-shadow: none !important;
    color: #dddddd;
  }
  .header .content-wrap .drawer-trigger {
    display: block;
    z-index: 1001;
  }
  .body .page-wrap.index .section.product .products .icon .icon-screen {
    display: none;
  }
  .body .page-wrap.index .section.service .solutions .icon .icon-screen {
    display: none;
  }
  .body .page-wrap.index .section.portfolio .summary {
    line-height: 1.7;
  }
  .body .page-wrap.index .section.portfolio .summary .for-mobile {
    display: block;
  }
  .body .page-wrap.index .section.portfolio .portfolios .portfolio-item {
    flex: 0 0 calc((100% - 9px) / 2);
    margin-bottom: 9px;
    margin-right: 9px;
  }
  .body .page-wrap.index .section.portfolio .portfolios .portfolio-item:nth-child(3n) {
    margin-right: 9px;
  }
  .body .page-wrap.index .section.portfolio .portfolios .portfolio-item:nth-child(2n) {
    margin-right: 0;
  }
  .body .page-wrap.index .section.portfolio .portfolios .portfolio-item .texts {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .body .page-wrap .page-title {
    height: 55vw;
  }
  .body .page-wrap.index .slide .content-wrap p {
    font-size: 24px;
    line-height: 1.2;
  }
  .body .page-wrap.index .section {
    padding: 30px 0;
  }
  .body .page-wrap.index .section .title h1 {
    font-size: 30px;
  }
  .body .page-wrap.index .section .summary {
    margin: 22px 0 30px 0;
    font-size: 20px;
  }
  .body .page-wrap.index .section.about .summary {
    font-size: 20px;
  }
  .body .page-wrap.index .section.about .desc p {
    font-size: 13px;
  }
  .body .page-wrap.index .section.product .products {
    display: block;
    margin-top: 22px;
  }
  .body .page-wrap.index .section.product .products .product-item {
    margin-top: 50px;
  }
  .body .page-wrap.index .section.product .products .product-item:first-child {
    margin-top: 0;
  }
  .body .page-wrap.index .section.product .products .texts {
    margin-top: 32px;
  }
  .body .page-wrap.index .section.product .products .texts .item-title {
    font-size: 18px;
  }
  .body .page-wrap.index .section.product .products .texts .item-desc {
    font-size: 14px;
  }
  .body .page-wrap.index .section.service .services {
    display: block;
  }
  .body .page-wrap.index .section.service .services .service-item {
    width: auto;
    margin-bottom: 30px !important;
  }
  .body .page-wrap.index .section.service .services .texts .item-title {
    font-size: 18px;
  }
  .body .page-wrap.index .section.service .services .texts .item-desc {
    font-size: 14px;
  }
  .body .page-wrap.index .section.service .solutions {
    display: block;
  }
  .body .page-wrap.index .section.service .solutions .solution-item {
    margin-top: 50px;
  }
  .body .page-wrap.index .section.service .solutions .solution-item:first-child {
    margin-top: 0;
  }
  .body .page-wrap.index .section.service .solutions .texts {
    margin-top: 32px;
  }
  .body .page-wrap.index .section.service .solutions .texts .item-title {
    font-size: 18px;
  }
  .body .page-wrap.index .section.service .solutions .texts .item-desc {
    font-size: 14px;
  }
}
/* plugin override */
.hamburger {
  padding: 0;
}
.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 1;
}
.hamburger .hamburger-box {
  width: 20px;
  height: 20px;
}
.hamburger .hamburger-box .hamburger-inner,
.hamburger .hamburger-box .hamburger-inner:after,
.hamburger .hamburger-box .hamburger-inner:before {
  background-color: #333333;
  width: 20px;
  height: 2px;
  border-radius: 2px;
}
.hamburger .hamburger-box .hamburger-inner:after {
  bottom: -7px;
}
.hamburger .hamburger-box .hamburger-inner:before {
  top: -7px;
}
.hamburger.is-active .hamburger-box .hamburger-inner,
.hamburger.is-active .hamburger-box .hamburger-inner:after,
.hamburger.is-active .hamburger-box .hamburger-inner:before {
  background-color: #ffffff;
}
.hamburger.is-active .hamburger-inner:after {
  bottom: 0;
}
.hamburger.is-active .hamburger-inner:before {
  top: 0;
}
