<link rel="stylesheet" href="/css/portfolio.css?20210713">
<div class="page-wrap portfolio">
    <div class="page-title">
        <div class="content-wrap">
            <h1>Portfolio</h1>
        </div>
    </div>
    <div class="page-content multiport-s2e">
        <div class="section introduce">
            <div class="content-wrap">
                <div class="title">
                    <h1>멀티포트 S2E 장치</h1>
                </div>
                <div class="summary">
                    <ul>
                        <li>시리얼 데이터를 Ethernet 네트워크를 통해 인터넷 통신 서버로 전송</li>
                        <li>4포트시리얼 포트 지원</li>
                    </ul>
                </div>
            </div>
        </div>  <!-- .section.introduce -->

        <div class="section diagram">
            <div class="content-wrap">
                <object type="image/svg+xml" data="/images/portfolio/img_multiport_s2e.svg" class="for-pc"></object>
                <div class="for-mobile">
                    <div class="diagram-box">
                        <div class="image-content">
                            <object data="/images/portfolio/img_multiport_s2e_mobile.svg" type="image/svg+xml"></object>
                        </div>
                        <div class="text-content">
                            <p class="title">시리얼 디바이스 제어기</p>
                            <div class="content">
                                <ul>
                                    <li>시리얼 인터페이스로 연결된 장치 제어 기능 (AT command)</li>
                                    <li>시리얼 인터페이스로 연결된 장치의 데이터 수집</li>
                                    <li>시리얼 데이터 패킹 조건 제공</li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-content">
                            <p class="title">임베디드 TCP/IP 기능 제공</p>
                            <div class="content">
                                <ul>
                                    <li>TCP/IP 네트워크를 통한 장비 설정 및 제어 기능 제공</li>
                                    <li>시리얼 데이터 변환 기능</li>
                                    <li>TCP 서버, TCP 클라이언트, UDP 모드 통신 방식 제공</li>
                                    <li>동시 4개의 서버 접속 가능</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- .section.diagram -->

        <div class="section spec">
            <div class="content-wrap">
                <div class="sub-title">
                    <h2>Specification</h2>
                </div>

                <div class="specs">
                    <div class="spec-item">
                        <div class="item-content">
                            <div class="row">
                                <div class="name">개발 환경</div>
                                <p class="content">
                                    Embedded Board
                                </p>
                            </div>
                            <div class="row">
                                <div class="name">개발 언어</div>
                                <p class="content">
                                    C/C++
                                </p>
                            </div>
                            <div class="row">
                                <div class="name">지원 운영체제</div>
                                <p class="content">
                                    Non-OS, RTOS
                                </p>
                            </div>
                            <div class="row">
                                <div class="name">주요 특징</div>
                                <ul class="content">
                                    <li>4 포트 시리얼 장비 데이터 수집 및 제어 프로그램</li>
                                    <li>UART/SPI DMA 지원</li>
                                    <li>WIZnet W5xxx Ethernet Chipset</li>
                                    <li>Embedded TCP/IP network program</li>
                                    <li>네트워크를 통한 원격 장치 설정 및 제어 기능 제공</li>
                                    <li>다양한 시리얼 데이터 패킹 조건 옵션 제공</li>
                                </ul>
                            </div>
                        </div>
                    </div>  <!-- .spec-item -->

                </div>
            </div>
        </div>
    </div>
</div>
