<link rel="stylesheet" href="/css/service.css?">
<div class="page-wrap solutionx">
    <div class="page-title">
        <div class="content-wrap">
            <h1>Service</h1>
            <p><strong> SolutionX</strong> Service</p>
        </div>
    </div>
    <div class="page-content">
        <div class="section">
            <div class="content-wrap">
                <div class="title">
                    <h1>SolutionX Service란?</h1>
                </div>
                <div class="summary">
                    <p>고객의 의뢰로 PC SW, 임베디드 디바이스에 대한 외주 개발을 수행하는 서비스 입니다.</p>
                </div>
            </div>

            <div class="sub-section field">
                <div class="content-wrap">
                    <h2 class="sub-title">전문 분야</h2>

                    <div class="fields">
                        <div class="field-item">
                            <h3 class="item-title">PC 소프트웨어</h3>
                            <div class="item-content">
                                <div class="content">
                                    <p>
                                        IoT 디바이스 관리<br>
                                        소프트웨어<br>
                                    </p>
                                </div>
                                <div class="content">
                                    <p>
                                        인터넷 통신<br>
                                        소프트웨어<br>
                                    </p>
                                </div>
                                <div class="content">
                                    <p>
                                        다중 디바이스 관리<br>
                                        소프트웨어<br>
                                    </p>
                                </div>
                            </div>
                        </div>  <!-- .field-item -->
                        <div class="field-item">
                            <h3 class="item-title">임베디드 디바이스</h3>
                            <div class="item-content">
                                <div class="content">
                                    <p>
                                        IoT 디바이스<br>
                                        펌웨어 개발<br>
                                    </p>
                                </div>
                                <div class="content">
                                    <p>
                                        TCP/IP, Ethernet<br>
                                        Wi-Fi 디바이스 개발<br>
                                    </p>
                                </div>
                                <div class="content">
                                    <p>
                                        멀티포트 Serial to Ethernet<br>
                                        게이트웨이 개발<br>
                                    </p>
                                </div>
                            </div>
                        </div>  <!-- .field-item -->
                    </div>  <!-- .fields -->
                </div>
            </div>  <!-- .sub-secton.field -->

            <div class="sub-section language">
                <div class="content-wrap">
                    <h2 class="sub-title">개발 언어</h2>

                    <div class="languages">
                        <div class="language-item">
                            <div class="item-title">Python - PySide2, PyQt5</div>
                            <div class="item-logos">
                                <div class="logo"><img src="/images/service/img_pyside.svg" alt=""></div>
                                <div class="logo"><img src="/images/service/img_PyQt.svg" alt=""></div>
                            </div>
                        </div>
                        <div class="language-item">
                            <div class="item-title">C/C++</div>
                            <div class="item-logos">
                                <div class="logo"><img src="/images/service/img_c.svg" alt=""></div>
                                <div class="logo"><img src="/images/service/img_c++.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- .sub-section.language -->


            <div class="sub-section portfolio">
                <div class="content-wrap">
                    <h2 class="sub-title">포트폴리오</h2>

                    <div class="portfolios">
                        <div class="portfolio-item">
                            <div class="media"><iframe width="560" height="315" src="https://www.youtube.com/embed/oVN0kdKSsCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            <h3 class="item-title">디바이스 설정 소프트웨어</h3>
                            <div class="item-infos">
                                <p class="info">Python, PySide2</p>
                                <p class="info">GUI</p>
                                <p class="info">Window, Linux 지원</p>
                                <p class="info">UART, TCP/IP, File Management</p>
                                <p class="info">100개 이상의 장치 동시 제어</p>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="media"><iframe width="560" height="315" src="https://www.youtube.com/embed/TA2HUhvBZXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            <h3 class="item-title">디바이스 테스트 소프트웨어</h3>
                            <div class="item-infos">
                                <p class="info">Python, PySide2</p>
                                <p class="info">GUI</p>
                                <p class="info">Window, Linux 지원</p>
                                <p class="info">UART, File Management</p>
                                <p class="info">4개 Thread 동시 운용</p>
                            </div>
                        </div>
                        <div class="portfolio-item">
                            <div class="media"></div>
                            <h3 class="item-title">Task 제어 소프트웨어</h3>
                            <div class="item-infos">
                                <p class="info">Python, PySide2</p>
                                <p class="info">GUI</p>
                                <p class="info">Window, Linux 지원</p>
                                <p class="info">TCP/IP</p>
                                <p class="info">다중 장치 동시 제어</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- .sub-section.language -->

        </div>
    </div>
</div>
