<link rel="stylesheet" href="/css/service.css?sd">
<div class="page-wrap testx">
    <div class="page-title">
        <div class="content-wrap">
            <h1>Service</h1>
            <p><strong>testX</strong> Service</p>
        </div>
    </div>
    <div class="page-content">
        <div class="section whatistestx">
            <div class="content-wrap">
                <div class="title">
                    <h1>testX Service란?</h1>
                </div>
                <div class="summary">
                    <p>PCB Assembly가 완료된 Embedded Device에 대한 테스트를 수행하는 서비스입니다.</p>
                </div>
            </div>
            <div class="sub-section feature">
                <div class="content-wrap">
                    <div class="feature-item">
                        <div class="icon"><img src="/images/service/icon_firmware_writing.svg" alt=""></div>
                        <div class="texts">
                            <p class="item-desc">
                                펌웨어<br>
                                Writing<br>
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="icon"><img src="/images/service/icon_outer_if_port.svg" alt=""></div>
                        <div class="texts">
                            <p class="item-desc">
                                외부 인터페이스 포트에 대한<br>
                                동작 검증<br>
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="icon"><img src="/images/service/icon_firmware_function.svg" alt=""></div>
                        <div class="texts">
                            <p class="item-desc">
                                펌웨어 기능<br>
                                검증<br>
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="icon"><img src="/images/service/icon_init_auto_config.svg" alt=""></div>
                        <div class="texts">
                            <p class="item-desc">
                                초기값 자동 설정<br>
                                (시리얼넘버 등록 등)<br>
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="icon"><img src="/images/service/icon_extra.svg" alt=""></div>
                        <div class="texts">
                            <p class="item-desc">
                                그외 검증이<br>
                                필요한 항목<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>  <!-- .sub-section.feature -->
            
            <div class="sub-section merit">
                <div class="content-wrap">
                    <h2 class="sub-title">서비스 장점</h2>
                    <div class="merits">
                        <div class="merit-item">
                            <div class="icon"><img src="/images/service/icon_load_time.svg" alt=""></div>
                            <div class="texts">
                                <h3 class="item-title">Lead Time 단축</h3>
                                <ul class="item-desc">
                                    <li>동시에 다수 제품에 대한 테스트 수행</li>
                                    <li>최적의 테스트 절차 설계</li>
                                    <li>유연한 라인 확장성</li>
                                </ul>
                            </div>
                        </div>
                        <div class="merit-item">
                            <div class="icon"><img src="/images/service/icon_history_tracking.svg" alt=""></div>
                            <div class="texts">
                                <h3 class="item-title">테스트 이력 추적</h3>
                                <ul class="item-desc">
                                    <li>단계별 로그 데이터를 클라우드에 저장</li>
                                    <li>주문별/시리얼번호별 이력 추적 용이</li>
                                </ul>
                            </div>
                        </div>
                        <div class="merit-item">
                            <div class="icon"><img src="/images/service/icon_high_quality.svg" alt=""></div>
                            <div class="texts">
                                <h3 class="item-title">높은 품질 관리</h3>
                                <ul class="item-desc">
                                    <li>테스트 누락 가능성 배제</li>
                                    <li>작업자 실수를 걸러내는 장치를 추가</li>
                                </ul>
                            </div>
                        </div>
                        <div class="merit-item">
                            <div class="icon"><img src="/images/service/icon_web_monitoring.svg" alt=""></div>
                            <div class="texts">
                                <h3 class="item-title">웹 모니터링</h3>
                                <ul class="item-desc">
                                    <li>주문등록/현황 보기</li>
                                    <li>통계 보기</li>
                                    <li>생산 이력 보기</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- .sub-section.merit -->

            <div class="sub-section structure">
                <div class="content-wrap">
                    <h2 class="sub-title">시스템 구성</h2>
                    <div class="diagram">
                        <img src="/images/service/img_system_structure.svg" alt="" class="for-pc"/>
                        <img src="/images/service/img_system_structure_mobile.svg?20210713" alt="" class="for-mobile"/>
                    </div>
                </div>
            </div>  <!-- .sub-section.structure -->
        </div>  <!-- .section.whatistestx -->

        <div class="section business">
            <div class="content-wrap">
                <div class="title">
                    <h1>사업 모델</h1>
                </div>
            </div>
            <div class="sub-section models">
                <div class="content-wrap">
                    <div class="model-item">
                        <h3 class="item-title">테스트 시스템 도입</h3>
                        <div class="item-desc">
                            <div class="img"><img src="/images/service/img_system_introduction.svg" alt=""></div>
                            <p>시스템도입 모델은 EMS 기업에게 적합한 방식으로 testX서비스를 위한 테스트 라인을 EMS 기업에 구축하고 직접 테스트를 수행합니다.JIG, JIG SW, Manager SW, DB Server, 웹서비스는 티웨어랩의 솔루션을 사용합니다.</p>
                        </div>
                    </div>
                    <div class="model-item">
                        <h3 class="item-title">테스트 외주서비스</h3>
                        <div class="item-desc">
                            <div class="img"><img src="/images/service/img_outsourcing.svg" alt=""></div>
                            <p>외주 서비스 모델은 별도의 테스트 라인 구축없이 티웨어랩에 구축된 테스트 라인을 사용하는 방식입니다. 테스트할 제품을 티웨어랩에 전달하고, 이후 모든 테스트 과정을 티웨어랩에서 수행하는 모델입니다.</p>
                        </div>
                    </div>
                </div>
            </div>  <!-- .sub-section.models -->

            <div class="sub-section step">
                <div class="content-wrap">
                    <h2 class="sub-title">서비스 수행 절차</h2>
                    <div class="diagram">
                        <img src="/images/service/img_service_execute_step.png" alt="" class="for-pc">
                        <img src="/images/service/img_service_execute_step_mobile.svg" alt="" class="for-mobile">
                    </div>
                </div>
            </div>  <!-- .sub-section.step -->
            <div class="sub-section step">
                <div class="content-wrap">
                    <h2 class="sub-title">testX 서비스 의뢰 절차</h2>
                    <div class="diagram">
                        <img src="/images/service/img_service_request_step.png" alt="" class="for-pc">
                        <img src="/images/service/img_service_request_step_mobile.svg" alt="" class="for-mobile">
                    </div>
                </div>
            </div>  <!-- .sub-section.step -->

        </div>  <!-- .section.business -->

    </div>
</div>  <!-- .page-wrap.testx -->