
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/plugins/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css?20210714">
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAfYArHtSrTD89kdmxA5h_WV8RP4IpsrQ&callback=initMap&region=kr"></script> -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=eb31ve5cjy"></script>
    <script src="/js/common.js"></script>
    <title>Tware Lab</title>
</head>
<body>
    <div class="header">
        <div class="content-wrap">
            <div class="logo">
                <a href="/"><img src="/images/img_logo_top.svg" alt="Tware LAB"></a>
            </div>
            <div class="gnb" id="drawer">
                <ul>
                    <li><a href="/#about" onclick="toggleDrawerTrigger(false)">About</a></li>
                    <li>
                        <a href="/#service" onclick="toggleDrawerTrigger(false)">Services</a>
                        <div class="lnb">
                            <ul style="font-size: 14px;text-shadow: 0 0 1px #cccccc;">
                                <li><a href="/testx">testX Service</a></li>
                                <li><a href="/solutionx">SolutionX Service</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/#portfolio" onclick="toggleDrawerTrigger(false)">Portfolio</a>
                        <div class="lnb">
                            <ul style="font-size: 12px;">
                                <li><a href="/device_test">디바이스 테스트 솔루션</a></li>
                                <li><a href="/remote_device_config">원격 설정 소프트웨어</a></li>
                                <li><a href="/sensor_data_manage">센서 데이터 수집 시스템 </a></li>
                                <li><a href="/water_monitoring">수질 모니터링 시스템</a></li>
                                <li><a href="/multiport_s2e">멀티포트 S2E 장치</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/#contact" onclick="toggleDrawerTrigger(false)">Contact</a></li>
                </ul>
            </div>

            <div class="drawer-trigger">
                <button class="hamburger hamburger--squeeze js-hamburger" type="button" id="drawerTrigger" onclick="toggleDrawerTrigger()">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="body" id="contentBody">
        {{ content }}
    </div>
    <div class="footer" id="footer">
        <div class="content-wrap">
            <div class="logo">
                <a href="/"><img src="/images/img_logo_bottom.svg" alt="Tware LAB"></a>         
            </div>
            <div class="copyright">
                <p>©2021 twareLAB Co.,Ltd. All Rights Reserved.</p>
            </div>
            <div class="sns-links">
                <a href="https://www.facebook.com/Twarelab-107506111283097" target="_blank"><img src="/images/icon_facebook.svg" alt=""></a>
                <a href="https://twitter.com/twarelab" target="_blank"><img src="/images/icon_twitter.svg" alt=""></a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=eb31ve5cjy&callback=initMap"></script>
    <script type="text/javascript">
        var map = null;

        function initMap() {
            map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(37.300477, 127.07168),
                zoom: 10
            });
        }
    </script>    
</body>
</html>
