
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/plugins/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css?20210714">
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAfYArHtSrTD89kdmxA5h_WV8RP4IpsrQ&callback=initMap&region=kr"></script> -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=eb31ve5cjy"></script>
    <script src="/js/common.js"></script>
    <script>

    function initMap() {
        /* 
        const mapEl = document.getElementById('map');
        if(mapEl) {
            var center = { lat: 37.300377, lng:127.070718};
            var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 15,
                center: center
            });
            new google.maps.Marker({
                position: center,
                map,
            });
        } */

        var mapOptions = {
            center: new naver.maps.LatLng(37.300477, 127.07168),
            zoom: 16
        };

        var map = new naver.maps.Map('map', mapOptions);

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.300477, 127.07168),
            map: map
        });
            
    }
    </script>
    <title>Tware Lab</title>
</head>
<body>
    <div class="header">
        <div class="content-wrap">
            <div class="logo">
                <a href="/"><img src="/images/img_logo_top.svg" alt="Tware LAB"></a>
            </div>
            <div class="gnb" id="drawer">
                <ul>
                    <li><a href="/#about" onclick="toggleDrawerTrigger(false)">About</a></li>
                    <li>
                        <a href="/#service" onclick="toggleDrawerTrigger(false)">Services</a>
                        <div class="lnb">
                            <ul style="font-size: 14px;text-shadow: 0 0 1px #cccccc;">
                                <li><a href="/testx">testX Service</a></li>
                                <li><a href="/?page=solutionx">SolutionX Service</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/#portfolio" onclick="toggleDrawerTrigger(false)">Portfolio</a>
                        <div class="lnb">
                            <ul style="font-size: 12px;">
                                <li><a href="/?page=device_test">디바이스 테스트 솔루션</a></li>
                                <li><a href="/?page=remote_device_config">원격 설정 소프트웨어</a></li>
                                <li><a href="/?page=sensor_data_manage">센서 데이터 수집 시스템 </a></li>
                                <li><a href="/?page=water_monitoring">수질 모니터링 시스템</a></li>
                                <li><a href="/?page=multiport_s2e">멀티포트 S2E 장치</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/#contact" onclick="toggleDrawerTrigger(false)">Contact</a></li>
                </ul>
            </div>

            <div class="drawer-trigger">
                <button class="hamburger hamburger--squeeze js-hamburger" type="button" id="drawerTrigger" onclick="toggleDrawerTrigger()">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="body" id="contentBody">
        {{ content }}
    </div>
    <div class="footer" id="footer">
        <div class="content-wrap">
            <div class="logo">
                <a href="/"><img src="/images/img_logo_bottom.svg" alt="Tware LAB"></a>         
            </div>
            <div class="copyright">
                <p>©2021 twareLAB Co.,Ltd. All Rights Reserved.</p>
            </div>
            <div class="sns-links">
                <a href=""><img src="/images/icon_facebook.svg" alt=""></a>
                <a href=""><img src="/images/icon_twitter.svg" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>
